{% extends "base.html"%}
{% block content%}
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <div  role="alert"{% if messages.success %} class="alert alert-success" {%else%} class="alert alert-danger" {% endif %}>
        {{message}}
      </div>
    {% endfor %}
</ul>
{% endif %}
<form method="post" action="{%url 'login'%}"> {% csrf_token %}
    <div class="mb-3">
        <label for="usernameInput" class="form-label">Username</label>
        <input name="username" type="text" class="form-control" id="usernameInput" aria-describedby="usernameHelp" required>
    </div>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Password</label>
        <input name="password" type="password" class="form-control" id="exampleInputPassword1" required>
    </div>
    <button type="submit" class="btn btn-primary">Sign In</button>
    <p>Don't have an account?</p>
    <a href="{%url 'register'%}">sign up</a>
</form>

{% endblock%}