{% extends "blogmain/base.html" %}

{% block content %}
<div class="container mt-4">
    <ul class="messages">
        {% for message in messages %}
        <div role="alert" class="alert alert-success alert-dismissible fade show" role="alert">
            {{ message }}
        </div>
        {% endfor %}
    </ul>

    
    <div class="mb-4">
        <a href="{% url 'createpost'%}" class="btn btn-success btn-lg" style="width: 100%;">
            What's on your mind?
        </a>
    </div>

    <div class="row">
        {% for p in post %}
        <div class="col-md-4 mb-4">
            <div class="card shadow-sm">
                <div class="card-body">
                    <img src="{{ p.user.profile.image.url }}" alt="Profile Picture" class="rounded-circle img-fluid mb-3" style="width: 150px;">
                    <h5 class="card-title">{{ p.title }}</h5>
                    <p class="card-text">by {{ p.user.username }}</p>
                    <p class="card-text text-muted">{{ p.date_created }}</p>
                    <a href="{% url 'detail' p.id %}" class="btn btn-primary">Read More</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}
    
            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>
    
            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
</div>
{% endblock %}
